<h2>Listado de Edificios</h2>
<h3>Número de edificios: {{ numero_edificios }}</h3>

{% for e in edificios %}
  <strong>{{ e.nombre }}</strong><br/>
  <ul>
    <li><strong>Dirección:</strong> {{ e.direccion }}</li>
    <li><strong>Ciudad:</strong> {{ e.ciudad }}</li>
    <li><strong>Tipo:</strong> {{ e.tipo }}</li>
  </ul>
  
  <a href="{% url 'editar_edificio' e.id %}">Editar</a> |
  <a href="{% url 'eliminar_edificio' e.id %}" style="color: red;">Eliminar</a>
  <hr>
  
{% endfor %}

<a href="/">Volver al inicio</a>